.rsbButton
{display:none; !important;}
.RadSearchBox_BlackMetroTouch {
  color: white;
 
  width: 210px; }
  .RadSearchBox_BlackMetroTouch .rsbInner {
    height: 20px;
    border:1px solid #c8c7c8;
    color: #3d3d3d;
    background-color:#fff;
 }
/*    .RadSearchBox_BlackMetroTouch .rsbInner.rsbHovered {
      border-color: #25a0da;
      color: white;
      background-color: black; }
    .RadSearchBox_BlackMetroTouch .rsbInner.rsbFocused {
      border-color: #2a2a2a;
      color: white;
      background-color: black; }
    .RadSearchBox_BlackMetroTouch .rsbInner.rsbDisabled {
      border-color: #2c2c2c;
      color: #555555;
      background-color: black; }*/
  .RadSearchBox_BlackMetroTouch .rsbInput {
    color: white;
    
    height: 30px; }
    @media screen\9 {
      .RadSearchBox_BlackMetroTouch .rsbInput {
        line-height: 24px; } }
    @media \0screen {
      .RadSearchBox_BlackMetroTouch .rsbInput {
        line-height: 26px; } }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .RadSearchBox_BlackMetroTouch .rsbInput {
        line-height: 16px; } }
  .RadSearchBox_BlackMetroTouch .rsbEmptyMessage {
    color: #555555;
    font-style: italic; }
  .RadSearchBox_BlackMetroTouch .rsbButton {
    width: 32px;
    height: 32px; }
    .RadSearchBox_BlackMetroTouch .rsbButton:hover {
      border-color: #25a0da;
      color: white;
      background-color: #25a0da; }
    .RadSearchBox_BlackMetroTouch .rsbButton:focus {
      border-color: #0082cc;
      color: white;
      background-color: #0082cc; }
  .RadSearchBox_BlackMetroTouch .rsbLoadingIcon {
    background-image: url('../img/loading_small.gif'); }
  .RadSearchBox_BlackMetroTouch .rsbButtonSearch {
    width: 36px;
    height: 36px; }
    .RadSearchBox_BlackMetroTouch .rsbButtonSearch .rsbIcon {
      width: 18px;
      height: 18px;
      background-image: url('../img/radActionsSprite.png');
      background-position: -16px -4716px; }
  .RadSearchBox_BlackMetroTouch .rsbSCInner {
    padding-left: 5px;
    padding-right: 32px;
    height: 30px;
    border-color: #4e4e4e;
    color: white;
    background-color: #222222;
    line-height: 30px; }
  .RadSearchBox_BlackMetroTouch .rsbSCIcon {
    background-image: url('../img/radActionsSprite.png');
    background-position: -17px -1067px;
    right: 5px;
    line-height: 34px; }
  .RadSearchBox_BlackMetroTouch .rsbSCHovered {
    border-color: #25a0da;
    color: white;
    background-color: #25a0da; }
  .RadSearchBox_BlackMetroTouch .rsbSCFocused {
    border-color: #0082cc;
    color: white;
    background-color: #0082cc; }
  .RadSearchBox_BlackMetroTouch .rsbSCDisabled {
    border-color: #2c2c2c;
    color: #555555;
    background-color: black; }

.rsbPopup_BlackMetroTouch {
  border: 1px dashed #7a4e01;
  font-family:Courier New, Courier New, monospace;
  
  background-color:#f6ac0b;
  width:100%;}

  .rsbPopup_BlackMetroTouch .rsbHeader,
  .rsbPopup_BlackMetroTouch .rsbFooter {
    color: white;
    background-color: #202020; }
  .rsbPopup_BlackMetroTouch .rsbHeader {
    border-bottom-color: #333333; }
  .rsbPopup_BlackMetroTouch .rsbFooter {
    border-top-color: #333333; }
  .rsbPopup_BlackMetroTouch .rsbShowAll {
    border-color: #333333; }
    .rsbslide{width:100%;}
  .rsblist{overflow:visible;}
  .rsbListItem{border-bottom:1px solid #be8406 !important;}
  .rsbPopup_BlackMetroTouch .rsbListItemHovered {
    color: white;
    background-color: #e1001a; }
  .rsbPopup_BlackMetroTouch .rsbListItemSelected {
    color: white;
    background-color: #0082cc; }
  .rsbPopup_BlackMetroTouch .rsbListItemDisabled {
    color: #555555;
    background-color: transparent; }
  .rsbPopup_BlackMetroTouch .rsbListItemLoading {
    color: white;
    background-color: #25a0da; }
